<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{/header.html::header}"></th:block>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:if="${result} > 0">
	<script type="text/javascript">
		alert("삭제 되었습니다.")
		location.href="/emp/empList?deptno=[[${emp.deptno}]]"
		//location.href="/emp/empSelect?empno=[[${emp.empno}]]"
	</script>
</th:block>
<div th:if="${result} == 0">
	<script type="text/javascript">
		alert("삭제 실패했습니다.")
		history.back()
	</script>
</div>
</body>
</html>