<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{/header.html::header}"></th:block>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function del(deptno){
		let cf = confirm("정말 삭제 하시겠습니까??")
		if(cf) location.href="/dept/deptDelete?deptno="+deptno
		else alert("삭제를 취소 하셨습니다.")
	}
</script>
</head>
<body>
<div class="container text-center">
	<h2 class="text-primary">부서 목록</h2>
	<table class="table table-striped table-info">
		<tr class="table-warning"><td>부서코드</td><td>부서명</td><td>근무지</td>
			<td>수정</td><td>삭제</td></tr>
		<tr th:if="${#lists.size(deptList)} == 0">
			<td colspan="5">부서 정보가 없습니다.</td></tr>
		<tr th:if="${#lists.size(deptList)} > 0" th:each="dept:${deptList}">
			<td>[[${dept.deptno}]]</td>
			<td><a th:href="@{/emp/empList(deptno=${dept.deptno})}"
				 class="btn btn-success btn-sm">[[${dept.dname}]]</a></td>			
			<td th:text="${dept.loc}"></td>
			<td><a class="btn btn-warning btn-sm" 
				th:href="@{/dept/deptUpdateForm(deptno=${dept.deptno})}">수정</a></td>
			<td><a class="btn btn-danger btn-sm" th:onclick="del([[${dept.deptno}]])">삭제</a></td>
		</tr>
	</table>
	<a class="btn btn-info" href="/dept/insertDeptForm">부서정보 입력</a>
	<a class="btn btn-primary" href="/emp/allEmplist">전직원 목록</a>
</div>
</body>
</html>